<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">

    <title><%= title %> </title>

    <link rel='stylesheet' href="/memo.css">
  </head>

  <body>
    <h1>交通費メモ！</h1>
    <form>
        <div class="memo">
            <label>日付</label>
            <input type="date">
        </div><br>

        <div class="memo_shudan">
            交通手段
            <select name="memo_shudan_1">
              <option value="">選択してください</option>
              <option value="train">電車</option>
              <option value="bus">バス</option>
              <option value="taxi">タクシー</option>
            </select>
        </div><br>

        <div class="memo">
            <label>乗車駅</label>
            <input type="text">
        </div>

        <div class="memo">
            <label>経由駅</label>
            <input type="text">
        </div>

        <div class="memo">
            <label>降車駅</label>
            <input type="text">
        </div>
        
        <p class="memo_btn">
            <input type="submit" value="検索">
        </p><br>

        <div class="memo">
            <label>運賃</label>
            <input type="text">円
        </div> 
        
        <div class="memo">
            <label>回数</label>
            <input type="text">回
        </div><br>

        <div class="memo">
            <label>ジョブ名</label>
            <input type="text">
        </div><br>

         <div class="memo">
            <label>メモ</label>
            <input type="text">
        </div><br>

        <p class="memo_btn">
            <input type="submit" value="登録">　<input type="submit" value="トップへ">
        </p>




        


        
    </form>
       
   <script>

    </script>
    <footer>
       
        </footer>
  </body>

</html>

