<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='rireki.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>5月分交通費</p>
    <table class="msr_table01">
        <thead>
          <tr>
            <th>履歴番号</th>
            <th>日付</th>
            <th>交通手段</th>
            <th>乗車駅</th>
            <th>降車駅</th>
            <th>運賃</th>
            <th>回数</th>
            <th>ジョブ名</th>
            <th>メモ</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% for(var i=0;i< results.rowCount;i++) {%>
        <% var year = results.rows[i].日付.getFullYear(); %>
        <% var month = results.rows[i].日付.getMonth() + 1; %>
        <% var day = results.rows[i].日付.getDate(); %>
        <tbody>
          <tr>
            <td>results.rows[i].履歴番号</td>
            <td>year + '/' + month + '/' + day</td>
            <td>results.rows[i].交通手段</td>
            <td>results.rows[i].乗車駅</td>
            <td>results.rows[i].降車駅</td>
            <td>results.rows[i].運賃</td>
            <td>results.rows[i].回数</td>
            <td>results.rows[i].ジョブ名</td>
            <td>results.rows[i].メモ</td>
            <td><input type="button" class="memo_btn input" value ="編集"></td>
            <td><input type="button" class="memo_btn input" value ="削除"></td>
          </tr>
          <% } %>

    <section>
        <br><input type="button" value="トップへ">
    </section>
    

  </body>
</html>