<!DOCTYPE html>
<html lang="ja">
  <head>
    <h1 class="msr_h102"><%= title %></h1>
    <link rel='stylesheet' href='rireki.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <table class="msr_table01">
        <thead>
          <tr>
            <th></th>
            <th>履歴番号</th>
            <th>日付</th>
            <th>交通手段</th>
            <th>乗車駅</th>
            <th>降車駅</th>
            <th>運賃</th>
            <th>回数</th>
            <th>ジョブ名</th>
            <th>メモ</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td><input type="button" class="memo_btn input" value ="編集"></td>
            <td><input type="button" class="memo_btn input" value ="追加"></td>
          </tr>
          <tr>
            <th>2</th>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td><input type="button" value ="編集"></td>
            <td><input type="button" value ="追加"></td>
          </tr>
          <tr>
            <th>3</th>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td><input type="button" value ="編集"></td>
            <td><input type="button" value ="追加"></td>
          </tr>
          <tr>
            <th>4</th>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td><input type="button" value ="編集"></td>
            <td><input type="button" value ="追加"></td>
          </tr>
          <tr>
            <th>5</th>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td><input type="button" value ="編集"></td>
            <td><input type="button" value ="追加"></td>
          </tr>
          <tr>
            <th>6</th>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td>texttexttexttext</td>
            <td><input type="button" value ="編集"></td>
            <td><input type="button" value ="追加"></td>
          </tr>
        </tbody>
    </table>
    

  </body>
</html>