<!DOCTYPE html>
<html lang = "ja">

<head>
        <title><%= title %></title>
        <link rel='stylesheet' href='rireki.css' />
</head>
<body>
    <h1><%= title %></h1>
    <p>利用したいページを選択してください。</p>

    <p class="msr_btn13" >
      <a href="memo">交通費メモページ</a>
    </p>
    <p class="msr_btn13">
        <a href="#">交通費履歴ページ</a>
      </p>

</body>