<!DOCTYPE html>
<html lang = "ja">

<head>
  <div class="container">
    <title><%= title %></title>
    <link rel='stylesheet' href='rireki.css' />
  </div>
</head>
<body>
  <div class="container">
    <h1><%= title %></h1>
    <p>利用したいページを選択してください。</p>

    <p class="msr_btn13" >
      <a href="http://localhost:3000/memo">交通費メモページ</a>
    </p>
    <p class="msr_btn13">
      <a href="http://localhost:3000/db">交通費履歴ページ</a>
    </p>
  </div>
</body>