<!DOCTYPE html>
<html lang = "ja">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='rireki.css' />
</head>
<body>
  <div class="memo_btn">
    <h1><%= title %></h1>
    <p>利用したいページを選択してください。</p>

    <p class="memo_btn">
      <a href="http://localhost:3000/memo">交通費メモページ</a>
    </p>
    <p class="memo_btn">
      <a href="http://localhost:3000/db">交通費履歴ページ</a>
    </p>
  </div>
</body>