<!DOCTYPE html>
<html lang = "ja">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='rireki.css' />
</head>
<body>
  <div class="memo_btn">
    <h1><%= title %></h1>
    <h4>利用したいページを選択してください。</h4>
    
    <button type=“button” class="top_btn" onclick="location.href='http://localhost:3000/memo'">交通費メモページ</button><br><br>
    <button type=“button” class="top_btn" onclick="location.href='http://localhost:3000/db'">交通費履歴ページ</button>
    
    </p>
  </div>
</body>