.msr_h102 {
  background: #1B73BA;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 30px;
  padding: 8px 10px;
  position: relative;
  width: 100%;
}

.msr_table01 {
    border-collapse: collapse;
    border-left: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    line-height: 1.5;
    text-align: left;
    width: 100%;
  }
  .msr_table01 th {
    background-color: #E3E7E9;
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    text-align: center;
    vertical-align : middle;
  }
  .msr_table01 thead th {
    background-color: #ABB7BC;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
  }
  .msr_table01 thead th:last-child {
    border-right: 1px solid #AAAAAA;
  }
  .msr_table01 td {
    border-bottom: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    font-size: 13px;
    padding: 10px;
    vertical-align: top;
  }
  .memo_btn select {
      
    border-top: 1px solid #1B73BA;
    border-bottom: 1px solid #1B73BA;
    border-left: 1px solid #1B73BA;
    border-right:1px solid #1B73BA ;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    color: #333;
    text-indent: .01px;
    text-overflow: "";
    padding: 10px;
    height: 40px;
    width: 230px;
  }
  
  .memo_btn{
    margin:0 0 10px;
  }
  .memo_btn input[type=submit] {
    background: url(/stylerecipe_img/arrow_blue02.png) no-repeat;
    background-position: 10px;
    border: 2px solid #1B73BA;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #1B73BA;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    height: 40px;
    width: 150px;
  }
  .memo_btn input[type=submit]:hover {
    opacity: 0.6;
  }

/* トップページCSS */
  .msr_btn13{
    height:53px;
    padding-top:1px;
  }
  .msr_btn13 a{
    width: 180px;
    padding:15px;
    color:#ffffff;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;
    background: #1B73BA;
    display: block;
    position:relative;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow:4px 4px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:4px 4px 0px 0px rgba(0,0,0,0.2);
    box-shadow:4px 4px 0px 0px rgba(0,0,0,0.2);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }
  .msr_btn13 a:hover{
    margin:4px 0 0 4px ;
    -webkit-box-shadow:0 0 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 0px 0px rgba(0,0,0,0.2);
    box-shadow:0 0 0px 0px rgba(0,0,0,0.2);
  }

  footer {
    margin-bottom: 30px;
    padding: 8px 10px;
    position: relative;
    width: 100%;
    background-color:  #1B73BA;
  }
  .footer-text {
    color: #fff;
  }